@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
  --background: #060a0c;
  --text: #e1e8ea;
  --primary: rgb(156, 206, 224);
  --primary2: hsla(195, 52%, 75%, 0.103);
  --secondary: #196c8a;
  --accent: #35bff0;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--background);
  margin: 0;
}

  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  
  }
  
  ::-webkit-scrollbar {
    width: 0px;
  }
  
  .right-arrow,
  .left-arrow {
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    font-size: 25px;
    border-radius: 4px;
    position: absolute;
    bottom: -20px;
    right: 80px;
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
  }
  
  .right-arrow {
    right: 140px;
  }
  
  .right-arrow:hover,
  .left-arrow:hover {
    transform: scale(1.3, 1.3);
  }
  
  .react-horizontal-scrolling-menu--wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .detail-image {
    width: 729px;
    height: 742px;
    object-fit: cover;
  }
  
  .hero-banner-img {
    position: absolute;
    right: 40px;
    top: 0px;
    width: 700px;
    height: 900px;
    margin-top: -330px;
    border-bottom-left-radius: 200px;
  }

  .ecard{
    background-color: var(--primary2);
  }
  
  .exercise-card {
    width: 400px;
    height: 525px;
    text-decoration: none;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .lnk{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .primary{
    font-family: 'Josefin Sans';
    background-color: var(--primary);
    padding: 25px;
  }

  .search-filters{
    width: 50vw;
    display: flex;
    padding: 20px;
    justify-content: center;
    gap: 30px;
  }
  
  .exercise-card img {
    height: 326px;
  }
  
  .bodyPart-card {
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
    background-color: var(--primary2);

  }
  
  .ecard:hover,
  .bodyPart-card:hover {
    transform: scale(1.1, 1.1);
  }
  
  
  .exercise-video {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 387px;
    height: 381px;
    text-decoration: none;
  }

  .pagination {
    color: var(--text);
    background-color: var(--primary);
  }

  .github-icon{
    width: 50px;
    height: auto;
  }
  
  @media screen and (max-width:1200px) {
    .detail-image {
      width: 300px;
      height: 300px;
      object-fit: cover;
    }
  
  
    .react-horizontal-scrolling-menu--scroll-container {
      width: 500px;
    }
  
    .left-arrow,
    .right-arrow {
      position: static !important;
    }
  
    .hero-banner-img {
      display: none;
    }
  
    .exercise-card {
      width: 320px;
    }
  
    .exercise-video {
      width: 320px;
      height: 300px;
    }
  }
  
  @media screen and (max-width:400px) {
    .exercise-card {
      width: 280px;
    }
  }